<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>梅花餐厅</string>
		<key>category</key>
		<array>
			<string>快餐</string>
			<string>小炒</string>
			<string>煲汤</string>
			<string>盖浇</string>
			<string>面食</string>
			<string>川菜</string>
			<string>苏菜</string>
			<string>粤菜</string>
			<string>徽菜</string>
			<string>湘菜</string>
			<string>浙菜</string>
			<string>鲁菜</string>
			<string>闽菜</string>
			<string>韩式</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>第五食堂</string>
		<key>category</key>
        <array>
            <string>快餐</string>
            <string>小炒</string>
            <string>煲汤</string>
            <string>盖浇</string>
            <string>面食</string>
            <string>川菜</string>
            <string>苏菜</string>
            <string>粤菜</string>
            <string>徽菜</string>
            <string>湘菜</string>
            <string>浙菜</string>
            <string>鲁菜</string>
            <string>闽菜</string>
            <string>韩式</string>
        </array>
	</dict>
    <dict>
        <key>name</key>
        <string>美食街</string>
        <key>category</key>
        <array>
            <string>快餐</string>
            <string>小炒</string>
            <string>煲汤</string>
            <string>盖浇</string>
            <string>面食</string>
            <string>川菜</string>
            <string>苏菜</string>
            <string>粤菜</string>
            <string>徽菜</string>
            <string>湘菜</string>
            <string>浙菜</string>
            <string>鲁菜</string>
            <string>闽菜</string>
            <string>韩式</string>
        </array>
    </dict>
</array>
</plist>
